<div [class]="'dialog-container ' + (dialogData?.size ? dialogData?.size : 'small')">

	<div mat-dialog-title>
		<h1 *ngIf="dialogData?.title; else noTitle">{{ dialogData?.title }}</h1>

    <ng-template #noTitle>
      <ng-content select="[title]"></ng-content>
    </ng-template>

		<button mat-icon-button class="close-icon" mat-dialog-close="true">
			<mat-icon>close</mat-icon>
		</button>
	</div>

	<div class="body">
		<div mat-dialog-content>
      <div *ngIf="dialogData?.object; else noObject">{{ dialogData?.object }}</div>

      <ng-template #noObject>
        <ng-content select="[content]"></ng-content>
      </ng-template>
		</div>

		<div mat-dialog-actions>
			<ng-content select="[cancel-button]"></ng-content>
			<ng-content select="[confirm-button]"></ng-content>
		</div>
	</div>
</div>
